<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Cincy Gas</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cincy Gas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Order New </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/order_lookup">Order Lookup <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Lookup order: Make sure it's exact!</h1>
    <form method="post" action="/search_orders">
        <input type="text" class="form-control" name="phone" placeholder="Phone">
        <input type="text" class="form-control" name="address" placeholder="Address" style="margin-top:10px; margin-bottom:10px">
        <button type="submit" class="btn btn-primary">Lookup</button>
    </form>

    <table style="margin-top:50px" class="table">
        <thead>
        <tr>
            <th>Tank #</th>
            <th>Order ID #</th>
            <th>Size</th>
            <th>Qty</th>
            <th>Delivery Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="map : ${hashMapList}">
                <td th:text="${map['id']}">Tank</td>
                <td th:text="${map['order_id']}">Size</td>
                <td th:text="${map['size']}">Size</td>
                <td th:text="${map['quantity']}">Qty</td>
                <td th:text="${map['order_date']}">Delivery Date</td>
                <td th:text="${map['status']}">Status</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>